#top{
  background-color:  #dcc9f4;
  width: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.top-child{
  background-color: #ffd9df;
  display: inline-block;
  width: 20%;
}
#middle{
  background-color: #ffd9df;
  width: 800px;
  height: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#middle-child1{
  background-color: #87ceeb;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 100px;

}
#middle-child2{
  background-color: #87ceeb;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 300px;
  left: 300px;
}
#middle-child3{
  background-color: #87ceeb;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 500px;
  left: 500px
}
#bottom{
  background-color: #87ceeb;
  width: 800px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
#bottom-child1{
  background-color: #e5dcf0;
  width: 400px;
  height: 100px;
}
#bottom-child2{
  background-color: #e5dcf0;
  width: 400px;
  height: 100px;
  position: relative;
  left: 200px;
}
#bottom-child3{
  background-color: #e5dcf0;
  width: 400px;
  height: 100px;
  position: relative;
  left: 400px;
}
